*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-rows: 10.8rem min-content;
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
}

.contact__us {
  background-color: lightblue;
  grid-column: 2/span 10;
}

.footer {
  background-color: lightcoral;
  grid-column: 2/span 10;
}

.header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header .nav__list > li:not(:last-child) {
  margin-right: 3rem;
}
.header .nav__item {
  cursor: pointer;
}
.header .nav__link:visited, .header .nav__link:link {
  text-decoration: none;
  font-weight: 500;
  color: #141b2b;
}

.nav__btn:link, .nav__btn:visited {
  text-decoration: none;
  cursor: pointer;
  padding: 1.2rem 3.2rem;
  background-color: rgba(231, 126, 73, 0.1);
  border-radius: 7.3rem;
  color: #e77e49;
  font-weight: 500;
  transition: all 0.25s;
}
.nav__btn:hover, .nav__btn:active {
  background-color: rgba(231, 126, 73, 0.2);
}

.insurance {
  grid-column: 1/-1;
  padding: 12rem 10rem;
  background-color: #fafafa;
}
.insurance__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(59.1rem, 1fr) minmax(50rem, 1fr));
  column-gap: 14.9rem;
  align-items: center;
  background-color: inherit;
}
.insurance__left p {
  color: #848484;
}
.insurance__right {
  height: 56rem;
  object-fit: cover;
  position: relative;
}
.insurance__right img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 51%;
  border-top-right-radius: 51%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.insurance__joined {
  position: absolute;
  bottom: 3rem;
  left: -8rem;
  z-index: 1000;
  padding: 2.6rem;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.09);
}
.insurance__joined--photos {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
.insurance__joined--photos-1 {
  margin-left: -17px;
}
.insurance__joined--photos-2 {
  margin-left: -17px;
  z-index: -2;
}
.insurance__joined--photos-3 {
  margin-left: -17px;
  z-index: -3;
}
.insurance__joined--photos-4 {
  margin-left: -17px;
  z-index: -4;
}
.insurance__joined--photos-5 {
  margin-left: -17px;
  z-index: -5;
}
.insurance__joined img {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 4px solid #fafafa;
  border-radius: 50%;
  object-fit: cover;
}
.insurance__joined p {
  color: #848484;
}
.insurance__joined p span {
  color: #e77e49;
}

.services {
  grid-column: 1/span 12;
  margin: 12rem 0;
  padding: 0 9.9rem;
}
.services__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.7rem, min-content));
  gap: 3.1rem;
  justify-content: center;
}
.services__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.15);
  padding: 3.6rem 2.6rem 2.6rem 2.6rem;
}
.services__card:not(:last-child) {
  margin-right: 3.1rem;
}
.services__icon {
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.services__icon--1 {
  background-color: rgba(255, 229, 207, 0.15);
}
.services__icon--2 {
  background-color: rgba(0, 137, 142, 0.1);
}
.services__icon--3 {
  background-color: rgba(255, 211, 58, 0.1);
}
.services__icon--4 {
  background-color: rgba(74, 142, 241, 0.1);
}
.services__heading-4 {
  margin-bottom: 2rem;
}
.services p {
  color: #848484;
  text-align: center;
  margin-bottom: 5.6rem;
}
.services__btn:link, .services__btn:visited {
  width: 23.5rem;
  background-color: rgba(231, 126, 73, 0.1);
  border-radius: 12px;
  text-align: center;
  padding: 1.2rem 7.3rem;
  text-decoration: none;
  border: none;
  display: inline-block;
  color: #e77e49;
  font-weight: 500;
  transition: all 0.3s;
}
.services__btn:active, .services__btn:hover {
  color: #fff;
  background-color: #e77e49;
}

.sponsor {
  background-color: magenta;
  height: 10%;
  grid-column: 2/span 10;
  grid-row: 2/3;
  transform: translateY(100%);
}

.testimonials {
  background-color: aqua;
  grid-column: 2/span 10;
}

.heading-2 {
  font-size: 3.6rem;
  color: #141b2b;
  font-weight: 700;
  text-transform: capitalize;
}

.heading-3 {
  color: #e77e49;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
}

.heading-4 {
  color: #141b2b;
  font-size: 2rem;
  font-weight: 600;
}

.why__us {
  grid-column: 1/-1;
  padding: 6rem 9.9rem;
}
.why__us__container {
  padding: 6rem 6.3rem 6rem 6rem;
  display: grid;
  grid-template-columns: 41.5rem 2fr;
  align-items: center;
  column-gap: 6rem;
}
.why__us__offer p {
  color: #848484;
}
.why__us__btn__container {
  display: flex;
  align-items: center;
}
.why__us__values {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30.6rem, 1fr));
}
.why__us__value {
  padding: 2.6rem 4rem 2.6rem 2.6rem;
}
.why__us__value p {
  color: #848484;
}
.why__us__value--img {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 1.2rem;
}
.why__us__value--img img {
  width: 5.4rem;
  width: 5.4rem;
  object-fit: cover;
}
.why__us__value--img-1 {
  background-color: rgba(42, 182, 155, 0.1);
}
.why__us__value--img-2 {
  background-color: rgba(84, 160, 255, 0.1);
}
.why__us__value--img-3 {
  background-color: rgba(255, 107, 107, 0.1);
}
.why__us__value--img-4 {
  background-color: rgba(255, 229, 74, 0.1);
}

.offer-btn {
  background-color: #e77e49;
  border: none;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  border-radius: 7.3rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.offer-btn img {
  margin-left: 6px;
}

.offer-btn--right {
  margin-left: 1.2rem;
  background-color: #fff;
  color: #848484;
  border-radius: 0;
}

.offer-btn--right:hover {
  background-color: #848484;
  color: #fff;
  transform: translateY(-3px);
}

.hero {
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: #0d326b;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__img {
  width: 100%;
}
.u-margin-5 {
  margin-bottom: 0.5rem;
}

.u-margin-8 {
  margin-bottom: 0.8rem;
}

.u-margin-20 {
  margin-bottom: 2rem;
}

.u-margin-56 {
  margin-bottom: 5.6rem;
}

.u-text-center {
  text-align: center;
}

.line-height-14 {
  line-height: 1.4;
}

/*# sourceMappingURL=style.css.map */
