*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;

  grid-template-rows: 10.8rem 85vh min-content repeat(7, min-content);
  grid-template-columns: repeat(12, minmax(12rem, 1fr));
}
