.heading-2 {
  font-size: 3.6rem;
  color: #141b2b;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.heading-3 {
  color: #e77e49;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}
