.u-margin-5 {
  margin-bottom: 0.5rem;
}
.u-margin-8 {
  margin-bottom: 0.8rem;
}
.u-margin-20 {
  margin-bottom: 2rem;
}

.u-margin-56 {
  margin-bottom: 5.6rem;
}

.u-text-center {
  text-align: center;
}

.line-height-14 {
  line-height: 1.4;
}
